.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-top: 2.5%;

    @media (max-width: 600px) {
        width: 100%;
    }
}
.input {
    color: var(--clr-secondary2);
    background-color: var(--clr-primary1);
    border: 1px solid var(--clr-primary2);
    text-align: center;
    font-family: 'Futura', 'Mr Eaves Sans', 'Futura PT Book';
    padding-block: 1%;
    width: 60%;
    margin: 0.5% 0;
}
.input:focus {
    outline-width: 0;
}
.input::placeholder {
    color: var(--clr-secondary1);
}
.btn {
    color: var(--clr-secondary2);
    background-color: var(--clr-primary1);
    border: 1px solid var(--clr-secondary2);
    width: 15%;
    height: 30px;
    margin-bottom: 10%;
    text-align: center;
    cursor: pointer;
    font-family: 'Futura', 'Mr Eaves Sans', 'Futura PT Book';
    transition: all 0.3s ease-in;
}
button:hover {
    color: var(--clr-primary2);
    background: var(--clr-secondary1);
    border: 1px var(--clr-primary2) solid;
}